#asset-type-screen{
    /* background-color: teal; */
    background: url("../images/kate-j-townsend-nx-dCfKxJLs-unsplash.jpg") ;
    background-size: cover;
    background-position: center 35%;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    grid-template-areas: "header" "content";

}
#asset-type-inner-container{
    /* background-color: purple; */
    grid-area: content;

}
#asset-type-header{
    /* background-color: blue; */
    margin: 0;
    grid-area: header;
}


/*      **********************PRIVATE EQUITY TYPES  *********************   */

#private-equity-type-screen {
    width: 100vw;
    height: 100vh;
    background: url("./images/kate-j-townsend-nx-dCfKxJLs-unsplash.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  #inner-private-equity-container {
    position: relative;
  }
  
  .inner-private-equity {
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -60%);
  }
  
  .inner-private-equity a {
    color: rgb(255, 255, 255);
    font-family: "Baskervville SC", serif;
    letter-spacing: 3px;
  }
  
  .inner-private-equity a:hover {
    color: white;
  }
  
  #skip-private-equity-type-btn {
    padding: 9px 10px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 35px;
  }
  
  #skip-private-equity-type-btn:hover {
    background-color: transparent;
    transform: scale(1.1);
  }
  
  
  
  .bottom-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  #ownCompany-btn {
    width: 66%; /* This makes the button about 2/3 the width of its container */
  }
  .fancy-label {
    color: #cfebf6;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  


  .four-squares {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .four-squares a {
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li a {
    width: auto;
    padding: 5px 10px;
    margin: 0;
  }
  
  .monserrat {
    font-family: "Montserrat", sans-serif;
  }
  .baskerville {
    font-family: "Baskervville SC", serif;
  }
  
  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fancy-button {
    background-color: transparent;
    border: #b5e0f1 solid;
    color: #cfebf6;
    font-size: 1.5rem;
    padding: 13px 25px;
    margin-top: 20px;
    border-width: 1.5px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fancy-button:hover {
    background-color: #e0eef3;
    color: rgba(28, 28, 129, 0.754);
    transition: all 0.5s ease-in-out;
  }

  a,
a:focus,
a:hover {
  color: #fff;
}

.four-squares a:hover {
    transform: scale(1.1);
  }

 