#niche-asset-type-screen {
    width: 100vw;
    height: 100vh;
    background: url("./images/kate-j-townsend-nx-dCfKxJLs-unsplash.jpg");
    background-size: cover;
    background-position: center center;
  }
  
  #niche-asset-equity-container {
    position: relative;
  }
  
  .niche-asset-equity {
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -60%);
  }
  
  .niche-asset-equity a {
    color: rgb(255, 255, 255);
    font-family: "Baskervville SC", serif;
    letter-spacing: 3px;
  }
  
  .niche-asset-equity a:hover {
    color: white;
  }
  
  #skip-niche-asset-type-btn {
    padding: 9px 10px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 35px;
  }
  
  #skip-niche-asset-type-btn:hover {
    background-color: transparent;
    transform: scale(1.1);
  }
  
  
  
  .bottom-row {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
  
  #ownCompany-btn {
    width: 66%; /* This makes the button about 2/3 the width of its container */
  }
  .fancy-label {
    color: #cfebf6;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  


  .four-squares {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  
  .four-squares a {
    height: 100px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li a {
    width: auto;
    padding: 5px 10px;
    margin: 0;
  }
  
  .monserrat {
    font-family: "Montserrat", sans-serif;
  }
  .baskerville {
    font-family: "Baskervville SC", serif;
  }
  
  .baskervville-regular {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fancy-button {
    background-color: transparent;
    border: #b5e0f1 solid;
    color: #cfebf6;
    font-size: 1.5rem;
    padding: 13px 25px;
    margin-top: 20px;
    border-width: 1.5px;
    border-radius: 0px;
    transition: all 0.5s ease-in-out;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fancy-button:hover {
    background-color: #e0eef3;
    color: rgba(28, 28, 129, 0.754);
    transition: all 0.5s ease-in-out;
  }

  a,
a:focus,
a:hover {
  color: #fff;
}

.four-squares a:hover {
    transform: scale(1.1);
  }


  #art-btn:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/kevin-laminto-2ZNueMNa-Xw-unsplash.jpg");
    background-size: cover;
    background-position:  right center;

  }

  #luxuryVehicle-btn:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./images/jordy-munoz-B0tsLz-y0Xg-unsplash.jpg");
    background-size: cover;
    background-position:  center;

  }


#otherCollection-btn:hover{

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/kim-woojeong-Bh-vfPXVdiQ-unsplash.jpg");
  background-size: cover;
  background-position:  right ;


}



 /* NICHE ASSET FORM CSS */


.nicheAsset-image-container {
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./images/cornelia-ng-2zHQhfEpisc-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  width: 42%;
  }
  
  
  
  
  #niche-asset-form {
    background-color: #d1f6ff;
    width: 100vw;
    height: 100vh;
    /* background: url('./images/brian-babb-XbwHrt87mQ0-unsplash.jpg') ;
    background-size: cover;
    background-position: center center; */
    position: relative;
  }
  
  .niche-asset-form-inner-container {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 15px 6px rgb(187, 199, 207);
    display: flex;
    width: 60%;
    justify-content: space-between;
    /* background-color: teal; */
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* border-radius: 5px; */
  }
  
  
  .niche-asset-form-inner {
    background-color: #fff;
    width: 58%;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
  
  .niche-asset-form-inner h1 {
    color: #333;
    text-shadow: none;
    font: bolder;
  }
  #nicheAsset-asset-details-form input {
    margin-bottom: 1px !important;
    margin-top: 1px !important;
  
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    border-bottom: #333 solid 1px !important;
    background-color: transparent;
    color: #333;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  #nicheAsset-asset-details-form label {
    color: #333;
    text-shadow: none;
  }
  
  
  
  #formFileMultiple {
    background: transparent;
    margin-top: 15px;
  }
  
  
  #nicheAsset-asset-details-next-btn {
    padding: 9px 20px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 10px !important;
    color: white;
    border-color: #333;
    background-color: #333;
  
  }
  
  #niche-asset-edit-details-btn, #niche-asset-confirm-details-btn{
    padding: 9px 20px;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin-top: 10px !important;
    color: white;
    border-color: #333;
    background-color: #333;
  }
  
  #nicheAsset-asset-details-next-btn:hover {
  
    transform: scale(1.1);
  }
  
  @media (min-width: 768px) {
    .masthead-inner {
      justify-content: flex-start; /* Align to the left on larger screens */
    }
  
    .masthead-brand {
      margin-left: 200px; /* Adjust this value as needed */
    }
  }
  
  @media (max-width: 767px) {
    .masthead-inner {
      justify-content: center; /* Center the content */
    }
  
    .masthead-brand {
      margin-left: 0; /* Remove any additional margin */
    }
  }

  
  @media (max-width: 1096px) {
    .four-squares {
      grid-template-columns: 1fr;
    }
  
    #asset-type-inner-container {
      margin: auto;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, 10%);
    }
  }
  @media (max-width: 710px) {
    .niche-asset-form-inner-container {
      flex-direction: column;
    }
  
    .niche-asset-form-inner {
      width: 100%;
    }
    .nicheAsset-image-container {
      width: 100%;
    }
  
  }


   /* **************************NICHE ASSETS REVIEW SCEEN  *********************** */
  
  
   .hidden {
    display: none;
  }
  
  
  .show {
    display: inline-block;
  }
  
  #niche-review-screen {
    background-color: #d1f6ff;
    width: 100vw;
    height: 100vh;
    /* background: url('./images/brian-babb-XbwHrt87mQ0-unsplash.jpg') ;
    background-size: cover;
    background-position: center center; */
    position: relative;
  }
  
  .niche-review-screen-inner-container {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 15px 6px rgb(187, 199, 207);
    display: flex;
    width: 60%;
    justify-content: space-between;
    /* background-color: teal; */
    margin: auto;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    /* border-radius: 5px; */
  }
  
  
  .niche-review-screen-inner {
    background-color: #fff;
    width: 58%;
    padding: 1.5rem 3rem 1.5rem 3rem;
  }
  
  .niche-review-screen-inner h1, .niche-review-screen-inner h2 {
    color: #333;
    text-shadow: none;
    font: bolder;
  }
  #niche-review-details .form input {
    margin-bottom: 1px !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
  padding-top: 1px !important;
  padding-bottom: 5px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
    border-bottom: #333 solid 1px !important;
    background-color: transparent;
    color: #333;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  
  }
  #niche-review-details label {
      color: #333;
    text-shadow: none;
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .niche-reviewImage-container {
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("./images/rolls-royce.jpg");
  background-size: cover;
  background-position: center center;
  width: 42%;
  }
  
  #niche-review-details .form input:focus{
  outline: none;
  }
  
  .niche-review-screen-inner select{
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-top: 10px !important;
    color: #333;
    background-color: white;
  }
  
  .niche-review-screen-inner a {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin-top: 10px !important;
    color: white;
    border: none;
    background-color: #333;
    padding: 5px 10px;
  
  }
  .niche-review-screen-inner a:hover {
  
    transform: scale(1.1);
  }